@charset "utf-8";
/* CSS Document */

#user-input:checked ~ #userWrapper{
	display: block;
	visibility: visible;
	opacity: 1;
	border: 1px solid black;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
}

#user-display-wrapper{
	max-width: max-content;
	display: inline;
	float: left;
}

#projectSelectWrapper{
	display: inline;
	float: left;
	vertical-align: middle;
}

#projectSelect:hover{
	cursor: pointer;
}

#projectSelect{
	margin-left: auto;
	margin-right: auto;
}

#projectSelectWrapper div{
	display: inline;
	float: left;
}

#switchProjectBtnDiv{
	margin-top: 3px !important;
}

#user-label{
	display: inline;
	float: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

#user-label:hover {
	cursor: pointer;
	color: grey;
}

#tutorial-download{
	color: #ffffff;
}

#tutorial-viewer{
	color: #ffffff;
}

#tutorial-download:hover{
	color: #44b6e6;
	text-decoration: none;
}

#tutorial-viewer:hover{
	color: #44b6e6;
	text-decoration: none;
}

#progressDiv {
	display: block;
	padding: 2px 5px;
	margin-top: 5px;
	border: 1px inset black;
	border-radius: 5px;
}

#message {
	margin-top: 10vw;
	margin-left: 20vw;
	margin-right: 20vw;
	display: block;
	overflow: auto;
	text-align: left;
}

#flightDateLabel {
	margin-bottom: 0;
	font-weight: 400;
}

#clickUnDisplay:hover {
	cursor: pointer;
}

#smallLogo {
	display: block;
	overflow: auto;
	margin-right: auto;
	margin-left: auto;
	max-width: 75px;
}

button {
	border: 2px solid rgb(118, 118, 118);
	margin: 3px;
}

.form-wrapper {
	overflow: auto;
	display: inline-grid;
	width: 30vw;
	height: auto;
	border: 2px solid #1f1f1f;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font: 14px 'Yu Gothic', sans-serif !important;
	padding: 15px;
}

.form-wrapper h2 {
	text-align: center;
}

.form-wrapper input {
	margin-top: 3px;
}

#new-button {
	display: inline-block;
	padding: 1px 6px;
	cursor: pointer;
	border-radius: 4px;
	border: 2px solid rgb(118,118,118);
	margin-top: 3px;
	margin-bottom: 3px;
	background-color: rgb(239,239,239);
	font: 14px 'Yu Gothic', sans-serif;
}



input[type="file"] {
	position: absolute;
	z-index: -1;
	top: 6px;
	left: 0;
	font: 14px 'Yu Gothic', sans-serif;
	color: black;
}

#fileWrap {
	position: relative;
}

#allFormsWrapper {
	overflow: auto;
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

#userBtn {
	display: block;
	vertical-align: center;
	text-align: center;
	margin-right: auto;
	margin-top: 3px;
}

input[type=checkbox] {
	display: none;
}

#uploadFile {
/*
	display: block;
	font: 14px 'Yu Gothic', sans-serif !important;
	text-align: left;
	margin-right: auto;
*/

	display: none;
	opacity: 0;
}

        #wrapper {
            padding-left: 0;
        }

	#page-container {
		position: relative;
		min-height: 90vh;
		
	}

        #page-wrapper {
            width: 100%;
            padding: 5px 15px;
	    height: 100%;
	position: relative;
	display: block;
	margin-bottom: 15px;
        }

        #tb-s3objects {
            width: 100% !Important;
/*		overflow: auto;*/
        }

        a {
            color: #44b6e6;
        }

        body {
            font: 14px 'Yu Gothic', sans-serif;
        }

        td {
            font: 12px 'Yu Gothic', sans-serif;
        }

        .title {
            padding: 6px 12px;
        }

        .breadcrumb {
            margin-bottom: 0;
        }

        #navbuttons .btn {
            padding: 3px 6px;
        }

#user {
	width: 90vw;
	height: auto;	
	top: 90px;
	box-sizing: border-box;
	font: 18px 'Yu Gothic', sans-serif;
	vertical-align: middle;
	overflow: auto;
	margin: 15px;
	margin-left: 60px;
	display: block;
}

#clickDisplay {
	display: inline;
	font: 20px 'Yu Gothic', sans-serif;
}

#user div{
	box-sizing: border-box;
	vertical-align: middle;
	margin: 15px;
	overflow: auto;
	margin-top: 5px;
	min-width: max-content;
}

#user div div {
	overflow: auto;
	margin-top: 5px;
	margin-left: 20px;
	max-width: 332px;
}

#smallUserInfo {
	font: 13.33px 'Yu Gothic', sans-serif;
	float: left;
}
#profileDiv h2 {
	float: left;
	vertical-align: middle;
	text-align: center;
}
#profileImg {
/*	margin-top: 15px;*/
	width: 35.7px;
	height: 40px;
	vertical-align: middle;
}

#userWrapper {
	display: none;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
	position: relative;
}

#userWrapper:focus {
	display: block;
	visibility: visible;
	opacity: 1;
	border: 1px solid black;
	box-sizing: border-box;
}

#clickUnDisplay:focus ~ #userWrapper {
	display: none;
	visibility: hidden;
	opacity: 0;
	position: relative;
	box-sizing: border-box;
}

#clickUnDisplay {
	display: inline;
	font: 20px 'Yu Gothic', sans-serif;
}

.imageAnchor:focus ~ #userWrapper {
	display: block;
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 0.5s linear;
	border: 1px solid black;
}

.imageAnchor {
	max-width: fit-content;
}

#signOut{
	background-color: transparent;
	border: 0px;
	border-style: none;
	border-color: none;
	
}

header{
	background: #1f1f1f;
	min-height: 90px;
	width: 100vw;
}

.header-inner {
	box-sizing: border-box;
}

.clearfix::after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


#headerLogo {
	float: left;
	vertical-align: middle;;
	padding: 15px;
	max-height: 85px;
	width: auto;
}

body {
	background: #fff;
}

#signOutWrapper {
	padding: 10px;
	text-transform: uppercase !important;
	display: block;
	cursor: pointer;
	border: 2px solid #ffffff;
	margin-right: 15px;
/*	margin-top: 15px;*/
	vertical-align: middle;
	float: right;	
	background-color: transparent !important;
	font: 13.33px 'Yu Gothic', sans-serif;
	color: #ffffff;
	max-width: 90px;
	margin-bottom: 10px;
	margin-right: 30px;
}

#signOutWrapper:hover {
	color: #44b6e6;
	border-color: #44b6e6;
}

.headerlinks {
	padding: 10px;
	text-transform: uppercase;
	display: block;
	cursor: pointer;
	margin-right: 15px;
/*	margin-top: 17px;*/
	vertical-align: middle;
	font: 13.33px 'Yu Gothic', sans-serif;
	color: #ffffff;
	float: right;
}

#highAccy:hover {
	color: #44b6e6;
	text-decoration: none;
}

#home:hover {
	color: #44b6e6;
	text-decoration: none;
}

#home {
	color: #ffffff;
}

#highAccy {
	color: #ffffff;
}

#bootstrap-overrides {
	background-color: #1f1f1f;
	border-color:  #1f1f1f;
	background-image: none;
}

#bootstrap-a{
	color: #44b6e6;
}

li.paginate_button.active a {
	background-color: #44b6e6 !important;
	border-color: #44b6e6 !important;
}

.panel-primary {
	border-color: #1f1f1f !important;
}

#findFile {
	float: right;
	font: 12px 'Yu Gothic', sans-serif;
}

#footer {
	background-color: #201a16;
	font: 36px 'Yu Gothic', sans-serif;
	display: block;
/*	position: absolute;
	bottom: 0; */
	width: 100vw;
	min-height: 10vh;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#footer-inner {
	padding: 64px 32px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.6em;
}

.topnav {
/*	visibility: hidden;*/
}/*max-width was 629px*/
@media only screen and (max-width: 1136px) {
/*.mobile-nav-toggle {
	display: block;
	box-sizing: border-box;
	position: absolute;
	right: 20px;
	margin-top: -8px;
	padding: 10px;
	vertical-align: middle;
	line-height: 16px;
	cursor: pointer;
	user-select: none;
	color: #ffffff;
	width: 22px;
	height: 22px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
	float: right;
	margin-top: 15px;
	margin-right: 15px;
	&:hover div {
		background-color: #a9a9a9;
	}
}
*/

#user-display-wrapper{
	display: block;
	max-width: unset;
	float: none;
}

#projectSelectWrapper{
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center !important;
	vertical-align: middle;
	font-size: 12px;
	margin: unset !important;	
	float: none;
	display: block;
}

#projectSelectWrapper button select{
	display: block !important;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#projectSelectWrapper div {
	margin-left: auto !important;
	margin-right: auto !important;
	display: block;
	float: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#user-label{
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: none;
}

h2 {
	font-size: 20px !important;
}

h3 {
	font-size: 13px !important;
}

.form-wrapper {
	display: block;
	padding: 5px;
	width: 90vw;
}

#user {
	margin-left: auto;
	margin-right: auto;
}

.imageAnchor {
	max-width: fit-content;
}

#user img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#clickDisplay {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font: 15px 'Yu Gothic', sans-serif;
}

#clickUnDisplay {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font: 15px 'Yu Gothic, sans-serif;
}

#overlay-button {
	margin-top: 15px;
	margin-right: 15px;
	margin-left: 15px;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	z-index: 5;
	padding: 26px 11px;
	float: right;
}
#overlay-button span {
	height: 2px;
	width: 27px;
	background-color: #ffffff;
	display: block;
	transition: all .2s ease-in-out;
	visibility: visible;
	content: "";
	transform-origin: center;
}

.menu {
	position: relative;
	top: 0px;
	height: 2px;
	width: 27px;
	background: #ffffff;
	vertical-align: middle;
}

#overlay-button span::before {
	position: relative;
	top: -8px;
	visibility: visible;
}

#overlay-button span::after {
	position: relative;
	top: 6px;
	visibility: visible;
}

#overlay-button span::before,
#overlay-button span::after {
	height: 2px;
	width: 27px;
	display: block;
	background-color: #ffffff;
	content: "";
	transition: all .2s ease-in-out;
}

#overlay-button:hover span,
#overlay-button:hover span::before,
#overlay-button:hover span::after {
	background: #ffffff;
}

input[type=checkbox] {
	display: none;
}

#overlay-input:checked ~ #overlay-button:hover span,
#overlay-input:checked ~ #overlay-button span {
	background: transparent;
}

#overlay-input:checked ~ #overlay-button span::before {
	top: 0;
	margin-left: auto;
	margin-right: auto;
	transform-origin: center;
	transform: rotate(45deg) translateY(1px);
	/*top: 0;*/
	opacity: 1;
}
#overlay-input:checked ~ #overlay-button span::after {
	transform-origin: center;
	top: 0;
	margin-left: auto;
	margin-right: auto;
	/*top: 0;*/
	transform: rotate(135deg) translateY(1px);
}

#topnav {
	height: 100%;
	width: 260px;
	background: #1b1613;
	z-index: 2;
	visibility: hidden;
	position: fixed;
	top: 90px;
	right: 0px;
}
input[type=checkbox]:checked ~ #topnav {
	visibility: visible;
	height: 100%
	transition: height 0s 0s linear, visibility 0s .14s linear;
}
#topnav div,
#topnav img {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	list-style-type: none;
	margin: auto;
	float: none;
	padding: 10px;
}

#topnav #signOutWrapper {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}

#topnav div a {
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
}
#topnav div a:hover {
	color: #44b6e6;
}
/*
.topnav {
	display: none;
}

.topnav-open {
	display: block;
	vertical-align: middle;
	height: 100%;
	width: 260px;
	top: 0;
	right: 0;
	line-height: 1em;
	background-color: #1b1613;
	position: fixed;
	z-index: 9999;
	text-align: left;
	transition: height 0s .14s linear, visibility 0s 0s linear;
}*/
}
